<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tacticsMapper">

	<!-- 셀렉트 박스 전술 리스트 출력 -->
	<select id="tacticsList" parameterType="String" resultType="com.spring.vo.TacticsVO">
		SELECT TITLE FROM TACTICS_TACTICS
		WHERE USERID = #{userId}
		ORDER BY TNO DESC
	</select>
	
	<!-- 전술 URL 불러오기 -->
	<select id="tacticsLoad" resultType="com.spring.vo.TacticsVO">
		SELECT * FROM TACTICS_TACTICS
		WHERE TITLE = #{title}
		AND USERID = #{userId}
	</select>
	
	<!-- 전술 삭제 -->
	<delete id="tacticsDelete">
		DELETE FROM TACTICS_TACTICS
		WHERE TITLE = #{title}
		AND USERID = #{userId}
	</delete>
	
	<!-- 전술 저장 -->
	<insert id="tacticsInsert">
		INSERT INTO TACTICS_TACTICS(
			TNO, TITLE, URL, USERID
		) VALUES (
			TACTICS_TACTICS_SEQ.NEXTVAL, #{title}, #{url}, #{userId}
		)
	</insert>
	
	<!-- 전술 저장 전 중복 확인 -->
	<select id="tacticsChk" resultType="int">
		SELECT count(*) FROM TACTICS_TACTICS
		WHERE TITLE = #{title}
		AND USERID = #{userId}
	</select>
</mapper>