@charset "UTF-8";

.stop-drag {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

.player {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 30px;
}

.home {
	background: blue;
	top: 48%;
	left: 25%;
}

.away {
	background: red;
	top: 48%;
	right: 25%;
}

.ball {
	background: white;
	top: 48.2%;
	left: 48.7%;
	overflow: hidden;
}

.ball-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.field-container {
	width: 1140px;
	height: 716px;
	background-image: url('/resources/images/field.png');
}

.player-container {
	position: relative;
	width: 1140px;
	height: 716px;
	overflow: hidden;
}

.clone {
	opacity: 0.3;
}